*{
    padding: 0%;
    margin: 0%;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url("image/background.jpg");
}

h1 {
    display: inline-block;
    font: bold 4.5em/1.5 Bebas, sans-serif;
    color: #5CA17C;
    font-size: 80px;
    text-transform: uppercase;
    background-image: linear-gradient(to bottom, #26BDA6, #FF9F65, #DED37E, #26BDA6);
    background-size: auto 250%;
    transition: background-position 0.5s;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 200px;
    background-position: 0 100%;
}
h1:hover {
    background-position: 0 0;
    cursor: pointer;
}

#game{
    height: 500px;
    width: 500px;
}
#game div{
    margin-bottom: 5px;
}
#score_box{
    display: inline-block;
    text-transform: uppercase;
    background-image: linear-gradient(to bottom, #26BDA6, #FF9F65, #DED37E, #26BDA6);
    background-size: auto 250%;
    height: 50px;
    width: 80px;
    float: right;
    background-color: #bbada0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9%;
}
#score{
    color: white;
    font-size: 25px;
    font-weight: bold;
}
#game_board{
    text-transform: uppercase;
    background-size: auto 250%;
    display: inline-block;;
    background-image: linear-gradient(to bottom, #26BDA6, #FF9F65, #DED37E, #26BDA6);
    width: 400px;
    height:400px;
    border: #bbada0 solid 5px;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#restart{
    display: inline-block;
    height: 50px;
    width: 80px;
    float: right;
    background-image: linear-gradient(to bottom, #26BDA6, #FF9F65, #DED37E, #26BDA6);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9%;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.grid_row{
    width:400px;
    height:90px;
    margin-left:16px;
    margin-top: 5px;
    margin-bottom: 16px;
    display: flex;
}
.grid_cell{
    height: 91px;
    width: 91px;
    margin-right:16px;
    background-color: bisque;
    border-radius: 5%;
    font-size:50px;
    color:white;
    text-align:center;
    font-weight: bold;
}


